# ignore everything in the "wordpress" directory, except:
wordpress/*

# ignore everything in the "data" directory, except:
data/*

# ignore everything in themes except the "dev_theme" directory.
themes/
!themes/dev_theme/

# ignore log files and databases
*.log
*.sql
*.sqlite
