# ignore everything in the "wordpress" directory:
wordpress/*

# ignore everything in the "data" directory:
data/*

# ignore everything in themes except the "twentytwenty-child" directory.
themes/*
!themes/twentytwenty-child

# ignore log files and databases
*.log
*.sql
*.sqlite
